body {
    background-color: white;
    font: 13px / 1.5 sans-serif;
    margin: 0.3em 0
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.nowrap {
    white-space: nowrap;
}

.intro {
  width: 100%;
  height: auto;
}

.content {
  text-align: justify;
  vertical-align: top;
  width: 70%;
  font-size: 150%;
  margin: 0 auto;
  padding: .5em 1em;
}

.projects {
  width: 70%;
  margin: 40px auto 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.project {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project img {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-top: .5px solid #aaa;
}

.footer ul, .footer ul li {
    display: inline;
    padding: 0;
    margin: 0 10px;
}

a, a:active, a:focus {
    unicode-bidi: embed;
    white-space: nowrap;
    outline: 0;
    color: #0645AD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
